@font-face {
  font-family: 'Norse';
  src: url('../font/Norse.woff2') format('woff2'),
       url('../font/Norse.woff') format('woff'),
       url('../font/Norse.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #0f0503;
}
.LogoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
img {
  max-width: 900px;
  height: auto;
}
hr.nav-line, hr.nav-line-top {
  width: 72%;
  margin: 0 auto;
  border: 1px solid #5d5250;
}
hr.nav-line-top {
  margin-top: 2rem;
}
.navLink a {
  font-family: Norse;
  font-size: 2rem;
  color: #fcfcf4;
  text-decoration: none;
}
.navLink a:hover {
  color: #941c0c;
}
.navLink {
  padding: 12px;
}
.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul.NavItems {
  display: flex;
}
.shows-header {
  margin: 3rem 0;
}
.shows-header h2 {
  font-family: 'Reggae One';
  color: #fcfcf4;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}
.shows-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.shows-about {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-top: 1rem;
}
.flyer-moa {
  max-width: 350px;
  height: auto;
  padding-right: 12px;
  background: url("./resources/flyers/ManegarmOpenAir2022.jpg");
}
h3 {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fcfcf4;
  text-align: center;
}
.shows-text {
  font-family: Roboto;
  font-size: 1rem;
  color: #fcfcf4;
  padding-left: 12px
}
.albumContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 3rem 200px;
}
.albumInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  padding-bottom: 12px;
}
.albumCover {
  max-width: 450px;
  height: auto;
  display: flex;
  align-self: center;
}
h2 {
  font-family: Norse;
  color: #fcfcf4;
  font-size: 2.25rem;
}
.albumCover {
  max-width: 400px;
  height: auto;
}
.albumInfo p {
  color: #fb1a1a;
  font-family: Roboto;
}
.albumInfo a {
  text-decoration: none;
  color: #fb1a1a;
}
hr.albumDivider {
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgba(93, 82, 80, 0.5);
}
@media screen and (min-width: 1025px) {
  hr.nav-line, hr.nav-line-top {
    width: 60%;
  }
}
li {
  color: #fcfcf4;
  font-family: Roboto;
  font-size: 1.2rem;
}