@font-face {
  font-family: 'Norse';
  src: url('../font/Norse.woff2') format('woff2'),
       url('../font/Norse.woff') format('woff'),
       url('../font/Norse.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #0f0503;
}
.LogoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
img {
  max-width: 900px;
  height: auto;
}
hr.nav-line, hr.nav-line-top {
  width: 72%;
  margin: 0 auto;
  border: 1px solid #5d5250;
}
hr.nav-line-top {
  margin-top: 2rem;
}
.navLink a {
  font-family: Norse;
  font-size: 2rem;
  color: #fcfcf4;
  text-decoration: none;
}
.navLink a:hover {
  color: #941c0c;
}
.navLink {
  padding: 12px;
}
.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navLink {
  list-style: none;
}
ul.NavItems {
  display: flex;
}
.shows-header {
  margin: 3rem 0;
}
.shows-header h2,
.news-header h2,
.contact-header h2 {
  font-family: 'Reggae One';
  color: #fcfcf4;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  margin-top: 2rem;
}
.shows-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.shows-about {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-top: 1rem;
}
.flyer-moa {
  max-width: 350px;
  height: auto;
  padding-right: 12px;
  background: url("./resources/flyers/ManegarmOpenAir2022.jpg");
}
h3 {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fcfcf4;
  text-align: center;
}
.shows-text {
  font-family: Roboto;
  font-size: 1rem;
  color: #fcfcf4;
  padding-left: 12px
}
h2 {
  font-family: Norse;
  color: #fcfcf4;
}
/* ALBUM INFORMATION */
#albumsList {
  margin-top: 3rem;
}
hr.albumLine {
  width: 48%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(147, 147, 147, 0.4);
}
.albumContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.albumCover {
  margin-right: 2rem;
  max-width: 500px;
  height: auto;
  box-shadow: 2px 4px 12px #000000;
  @media screen and (max-width: 500px) {
    margin: 0 auto;
    max-width: 90%;
  }
}
.albumDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    margin-top: 1.5rem;
  }
}
.albumTitle {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
}
.releaseInfo {
  font-family: roboto;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: .25rem;
}
.releaseInfo p {
  color: #fb1a1a;
}
.releaseInfo a {
  text-decoration: none;
  color: #fb1a1a;
}
/* CONTACT PAGE */
.social-links-container {
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fab {
  font-size: 3rem;
  color: #941c0c;
  text-shadow: 0 8px 8px #000000;
}
.fa-instagram-square {
  padding: 0 12px;
}