@font-face {
  font-family: 'Norse';
  src: url('../font/Norse.woff2') format('woff2'),
       url('../font/Norse.woff') format('woff'),
       url('../font/Norse.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #0f0503;
}
.LogoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
img {
  max-width: 900px;
  height: auto;
}
hr.nav-line, hr.nav-line-top {
  width: 65%;
  margin: 0 auto;
  border: 1px solid #fcfcf4;
}
hr.nav-line-top {
  margin-top: 2rem;
}
.navLink a {
  font-family: Norse;
  font-size: 2rem;
  color: #fcfcf4;
  text-decoration: none;
}
.navLink a:hover {
  color: #941c0c;
}
.navLink {
  padding: 12px;
}
.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul.NavItems {
  display: flex;
}
.shows-header {
  margin-top: 3rem;
}
.shows-header h2 {
  font-family: 'Reggae One';
  color: #fcfcf4;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}